#ideas {
  @include flex();
  flex-wrap: wrap;
  margin-bottom: 220px;

  @include laptop {
    margin-bottom: 120px;
  }

  .mobile_left {
    display: none;
    position: relative;

    @include tablet {
      width: 90%;
      display: flex;
      margin: 0 auto 100px;

      .ideas {
        width: 100%;
        border-radius: 60px 60px 0px 60px;
        display: flex;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(51, 51, 51, 0.3);
      width: 100%;
      height: 100%;
      border-radius: 60px 60px 0px 60px;
    }
  }

  .ideas_left {
    width: 48%;

    @include tablet {
      width: 90%;
      margin: 0 auto;
    }

    .title {
      margin-bottom: 20px;
    }

    .text {
      line-height: 200%
    }

    .ideas_types {
      @include flex(space-between, stretch, column);

      .ideas_type {
        .ideas_name_icon {
          @include flex();
          margin: 20px 0;

          span {
            display: flex;
            cursor: pointer;

            svg:last-child {
              display: none;
            }
          }
        }

        .ideas_text {
          height: 0;
          overflow: hidden;
          line-height: 200%;
          transition: .3s;

          &.show {
            height: 135px;
          }
        }
      }
    }

  }

  .ideas_right {
    width: 48%;

    @include tablet {
      width: 90%;
      margin: 0 auto;
      display: none;
    }

    .ideas {
      width: 100%;
      border-radius: 60px 60px 0px 60px;
      display: flex;
    }

    .ideas_img_con {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgba(51, 51, 51, 0.3);
        width: 100%;
        height: 100%;
        border-radius: 60px 60px 0px 60px;
      }
    }
  }
}