// background-image: linear-gradient(rgba(51, 51, 51, 0.5),rgba(51, 51, 51, 0.5)) , url('../images/back.svg');
#section_one {
  width: 100%;
  height: 100vh;
  margin-bottom: 80px;
  position: relative;
  @include flex(flex-start, center);

  @include mobile {
    margin-bottom: 30px;
  }

  .back_image_con {
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.5);
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  .back_image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
  }

  .splide {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    .splide__track {
      height: 100vh;

      ul {
        height: 100vh;
      }
    }

    .splide__pagination {
      padding-bottom: 40px;
    }
  }

  .section_one_title {
    width: 50%;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    color: $white;

    @include laptop {
      font-size: 32px;
    }

    @include tablet {
      width: 65%;
      font-size: 30px;
    }

    @include mobile {
      width: 80%;
      font-size: 24px;
    }
  }

  .text {
    width: 35%;
    margin: 40px auto 60px;
    text-align: center;
    color: $white;
    line-height: 200%;

    @include tablet {
      width: 55%;
      margin: 20px auto 30px;
    }

    @include mobile {
      width: 70%;
      margin: 20px auto 30px;
    }
  }

  .search {
    width: 30%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid $white;
    border-radius: 60px;
    padding: 11px 9px 11px 20px;
    @include flex();

    @include laptop {
      width: 35%;
      padding: 4px 6px 4px 20px;
    }

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 70%;
    }

    #search {
      width: calc(100% - 38px);
      font-size: 14px;
      font-weight: 500;
      background: transparent;
      border: none;
      outline: none;

      @include mobile {
        font-size: 10px;
      }

      &::placeholder {
        color: $white;
      }
    }

    label {
      padding: 7px;
      background: $white;
      border-radius: 50%;
      @include flex(center);
      cursor: pointer;

      @include mobile {
        padding: 3px;
      }

      span {
        display: flex;
      }
    }
  }
}